.container {
	@apply relative w-[406px] h-[141px] border shadow-[0px_3px_8px_#171a1f,0px_0px_2px_#171a1f] rounded-xl border-white border-solid left-[190px] top-[181px];

	/* change to relative or static */
	background: #ffffffff;

	/* white */

	/* border-m */

	/* white */

	/* shadow-s */
}

/* other styles */
.icon {
	@apply relative w-[104px] h-[90px] fill-[#171a1fff] left-2 top-[19px];

	/* neutral-900 */
}
.text {
	@apply relative text-xl font-bold leading-[30px] text-[rgb(30,32,36)] left-[122px] top-[19px];
	font-family: Poppins;

	/* Heading */

	/* neutral-900 */
}

/* Tag 1 */
.tag {
	@apply absolute w-[104px] h-[33px] flex items-center justify-between left-[122px] top-[83px];
}
.tag2 {
	@apply text-[11px] font-normal leading-[18px] opacity-100 absolute w-[104px] h-[33px] left-[200px] top-[89px];
	font-family: Varela;

	/* Body */
}
