
.custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 480px;
    background: rgb(255, 255, 255); /* neutral-150 */
    border-radius: 12px; /* border-m */
    box-shadow: 0px 3px 8px #171a1f, 0px 0px 2px #171a1f; /* shadow-s */
}

.textPrincipal {
    position: absolute; 
    top: 12px; 
    left: 47px; 
    font-family: Poppins; /* Heading */
    font-size: 40px; 
    font-weight: 700; 
    line-height: 56px; 
    color: #171A1FFF; /* neutral-900 */
  }

.text {
    position: absolute;
    font-family: Varela; /* Body */
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #4B7BECFF; /* primary-500 */
    left: 47px;
}

.text.date {
    top: 170px;

    &::before {
        content: "Fecha: ";
    }
    &::after {
        content: attr(data-date);
        color: #000000; /* Puedes cambiar este color al que desees */
        margin-left: 5px; /* Espaciado entre la etiqueta y el valor de la fecha */
    }
}

/* Estilos para la tipología */
.text.typology {
    top: 206px;

    &::before {
        content: "Tipología: ";
    }
    &::after {
        content: attr(data-typology);
        color: #000000; /* Puedes cambiar este color al que desees */
        margin-left: 5px; /* Espaciado entre la etiqueta y el valor de la tipología */
    }
}

/* Estilos para el técnico */
.text.technician {
    top: 242px;

    &::before {
        content: "Técnico: ";
    }
    &::after {
        content: attr(data-technician);
        color: #000000; /* Puedes cambiar este color al que desees */
        margin-left: 5px; /* Espaciado entre la etiqueta y el valor del técnico */
    }
}

/* Estilos para motivo */
.text.motivo {
    top: 278px;

    &::before {
        content: "Motivo: ";
    }
    &::after {
        content: attr(data-motivo);
        color: #000000; /* Puedes cambiar este color al que desees */
        margin-left: 5px; /* Espaciado entre la etiqueta y el valor del motivo */
    }
}

/* Estilos para observación */
.text.observation {
    top: 310px;
}

.text.observation2 {
    top: 342px;
    color: #000000; /* Puedes cambiar este color al que desees */
}

/* Login */
.button {
    position: absolute; 
    top: 26px; 
    left: 390px; 
    width: 42px; 
    height: 35px; 
    padding: 0 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #FFFFFFFF; /* white */
    background: #DE3B40FF; /* danger-500 */
    opacity: 1; 
    border: none; 
    border-radius: 12px; /* border-m */
    box-shadow: 0px 7.5px 17px #171a1f, 0px 0px 2px #171a1f; /* shadow-m */
    gap: 0px; 
  }
  .button .icon {
    width: 20px; 
    height: 20px; 
    fill: #FFFFFFFF; /* white */
  }
  /* Hover */
  .button:hover {
    color: #FFFFFFFF; /* white */
    background: #C12126FF; /* danger-600 */
  }
  /* Pressed */
  .button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #AA1D22FF; /* danger-650 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

/* Icon Button 1 */
.buttonEdit {
    position: absolute; 
    top: 124px; 
    left: 45px; 
    width: 36px; 
    height: 36px; 
    padding: 0 0px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #4B7BECFF; /* primary-500 */
    background: #4B7BECFF; /* primary-500 */
    opacity: 1; 
    border: none; 
    border-radius: 18px; 
    gap: 0px; 
    cursor: pointer;
  }
  .button .icon {
    width: 22px; 
    height: 22px; 
    fill: #FFFFFFFF; /* white */
  }
  /* Hover */
  .button:hover {
    color: #4B7BECFF; /* primary-500 */
    background: #4B7BECFF; /* primary-500 */
  }
  /* Pressed */
  .button:hover:active {
    color: #4B7BECFF; /* primary-500 */
    background: #4B7BECFF; /* primary-500 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

/* Icon Button 1 */
.buttonTrash {
    position: absolute; 
    top: 123px; 
    left: 89px; 
    width: 36px; 
    height: 36px; 
    padding: 0 0px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #424955FF; /* neutral-650 */
    background: #EAECEFFF; /* neutral-250 */
    opacity: 1; 
    border: none; 
    border-radius: 18px; 
    gap: 0px; 
    cursor: pointer;
  }
  .button .icon {
    width: 22px; 
    height: 22px; 
    fill: #424955FF; /* neutral-650 */
  }
  /* Hover */
  .button:hover {
    color: #424955FF; /* neutral-650 */
    background: #DEE1E6FF; /* neutral-300 */
  }
  /* Pressed */
  .button:hover:active {
    color: #424955FF; /* neutral-650 */
    background: #CFD2DAFF; /* neutral-350 */
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

/* Family 2 */
.iconCalendar {
    position: absolute; 
    top: 56px; 
    left: 300px; 
    width: 66px; 
    height: 66px; 
    fill: #323842FF; /* neutral-700 */
  }